{% trans_default_domain 'ITEFiltrationBundle' %}

{% block filter_form_start %}
    {{ form_start(form) }}
{% endblock filter_form_start %}
{% block filter_table_prefix %}{% endblock filter_table_prefix %}
{% block filter_table_tag %}<table>{% endblock filter_table_tag %}
    {% block filter_thead_tag %}<thead>{% endblock filter_thead_tag %}
    {% block filter_thead %}
        <tr>
            {% for field, label in filter.headers %}
                {% if form[field] is defined %}
                    <th>
                        <a href="#">{{ label }}</a>
                        <ul>
                            {% set filter_sorting = form[field].vars['filter_sorting']|default(null) %}
                            {% if filter_sorting %}
                                <li>
                                    <a href="#">
                                        {{ 'sort.' ~ filter_sorting ~ '.asc'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        {{ 'sort.' ~ filter_sorting ~ '.desc'|trans }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li>
                                {{ form_row(form[field]) }}
                            </li>
                        </ul>
                    </th>
                {% else %}
                    <th>
                        <span>
                            {{ label }}
                        </span>
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock filter_thead %}
    </thead>
    {% block filter_tbody_tag %}<tbody>{% endblock filter_tbody_tag %}
    {% block filter_tbody %}
        {% if target|length != 0 %}
            {% for index, item in target %}
                <tr>
                    {% for field in filter.headers|keys %}
                        <td>
                            {{ attribute(item, field) }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="{{ filter.headers|length }}">
                    {{ 'no_results'|trans }}
                </td>
            </tr>
        {% endif %}
    {% endblock filter_tbody %}
    </tbody>
</table>
{% block filter_table_suffix %}{% endblock filter_table_suffix %}
{% block filter_form_end %}
    {{ form_end(form) }}
{% endblock filter_form_end %}